---
layout: single
classes: wide
---

{{ content }}

<h2>Welcome to my webpage!</h2> 
<div class="norm"> 
  I'm a Senior Economic Advisor and Machine Learning Economist at the <a href='https://www.philadelphiafed.org/' target="blank">Federal Reserve Bank of Philadelphia</a>. 
  I also serve as an associate editor at the <a href='https://forecasters.org/ijf/' target="blank"> <i>International Journal of Forecasting</i></a>, the <a href='https://onlinelibrary.wiley.com/journal/10991255' target="blank"> <i>Journal of Applied Econometrics</i></a>, 
  and teach econometrics at the <a href='https://statistics.wharton.upenn.edu' target="blank">Wharton School</a>. 
  
<br> <br>

I develop econometric methods, especially Bayesian and machine learning, to make economic analysis <em>more predictive, more structural, and ultimately more policy-relevant</em>. To learn more, see my 
  <!--
  <a href="https://mcmcs.github.io/statement_v02.pdf" target="_blank">Research Statement</a> 
  -->
  <a href="https://mcmcs.github.io/minchul_cv.pdf" target="_blank">CV</a> 
  and 
  <a href="https://mcmcs.github.io/research" target="_blank">Research</a>.

<br> <br>
I’m excited about AI/ML for economic research and central banking; see the <a href="/ml/">AI/ML page</a> for related work.

<br> <br>

<h3> Email </h3>

visiblehand (at) gmail.com


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- <h6>What's New?</h6> -->

<!--

  ---
  layout: archive
  ---
  
  {{ content }}
  
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
  
  {% if paginator %}
  {% assign posts = paginator.posts %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}
  
  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }}">
    {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  
  {% include paginator.html %}
  
-->