---
layout: single
classes: wide
---

{{ content }}
I am interested in AI and ML broadly. I conduct research on these topics and study how they can be applied to economic research and central banking. See my <a href="/research/">research page</a> for my academic work. On this page, I list other works of mine related to AI and ML.

<br> <br>
<!--
<h2> AI/ML-related teaching </h2>

<ul>
   
   <li> I plan to teach "<strong>ML for Economists</strong>" (Master-level) at Penn in Spring 2027. Stay tuned! </li>
   
</ul>

<br>
-->

<h2>Some introductory pieces</h2>

<ul>

   <li> <strong>Using LLMs for Research and Policy Analysis I: AI-Assisted Coding</strong> </br>
      <p, class="w"> 
      with Vitaly Meursault (Philadelphia Fed)
      </p, class="w"> </br>
   </li>

   <li> <strong>Using LLMs for Research and Policy Analysis II: Structured Output</strong> </br>
      <p, class="w"> 
      with Vitaly Meursault (Philadelphia Fed)
      </p, class="w"> </br>
      <a href="/papers/slides_llm02_public.pdf" target="_blank"><b>[Local Copy]</b></a></br>
   </li>

  <li> <strong> Locally Hosted RAG for Economists</strong> </br>
     <p, class="w"> 
     with Samuel Braun (Philadelphia Fed)
     </p, class="w"> </br>
     <a href="/papers/rag_for_economists.pdf" target="_blank"><b>[Local copy]</b></a></br>
  </li>


</ul>

<br>

<h2> Conferences organized</h2>

<ul>

   <li> <strong>Conference on Frontiers in ML and Economics: Methods and Applications</strong> <br>
      joint with Center for Applied AI (Chicago Booth)
      <ul>
         <li>2026: Stay tuned for the call for papers (to be held at the Philadelphia Fed).</li>
         <li>2025: <a href="/papers/ml_program_2025.pdf" target="_blank"><b>[Program PDF]</b></a></li>
         <li>2024: <a href="/papers/ml_program_2024.pdf" target="_blank"><b>[Program PDF]</b></a></li>
         <li>2022: <a href="/papers/ml_program_2022.pdf" target="_blank"><b>[Program PDF]</b></a></li>
      </ul>
   </li>

   <li> <strong>NBER-NSF Seminar on Bayesian Inference in Econometrics and Statistics</strong> <br>
      joint with Sid Chib (Olin Business School)
     <ul>
        <li>2025: <a href="/papers/sbies_program_2025.pdf" target="_blank"><b>[Program PDF]</b></a></li>
        <li>2023: <a href="/papers/sbies_program_2023.pdf" target="_blank"><b>[Program PDF]</b></a></li>
     </ul>
  </li>

   <li> <strong>Machine Learning at Central Banks</strong> (2021)
      <!--
      <ul>
         <li>2021: <a href="/papers/ml_central_banks_2021.pdf" target="_blank"><b>[Program PDF]</b></a></li>
      </ul>
      -->
   </li>

   <li> <strong>Young Scholars Conference on Machine Learning in Economics and Finance</strong>
      <ul>
         <li> 2021, 2022, 2023</li>
      </ul>
      <!--
         <ul>
            <li>2023: <a href="/papers/young_scholars_ml_2023.pdf" target="_blank"><b>[Program PDF]</b></a></li>
            <li>2022: <a href="/papers/young_scholars_ml_2022.pdf" target="_blank"><b>[Program PDF]</b></a></li>
            <li>2021: <a href="/papers/young_scholars_ml_2021.pdf" target="_blank"><b>[Program PDF]</b></a></li>
         </ul>
      -->
   </li>



</ul>


