---
layout: single
classes: wide
---

{{ content }}

I develop econometric methods, especially Bayesian and machine learning, to make economic analysis <em>more predictive, more structural, and ultimately more policy-relevant</em>.

<br> <br>
  To learn more about my research in a thematic way, see my research statement:
<br>
  <a href="https://mcmcs.github.io/statement_v02.pdf" target="_blank">[Link to my Research Statement]</a> 
<br> <br>

<h2> Working papers </h2>

<ol>
   <li> Testing for Endogeneity: A Moment-Based Bayesian Approach <br>
      <p, class="w"> 
      with 
      <a href="https://apps.olin.wustl.edu/faculty/chib/" target="_blank"> Siddhartha Chib (WUSTL)</a>  
      and 
      <a href="https://sites.google.com/view/simonianna" target="_blank"> Anna Simoni (CNRS)</a>
      </p, class="w"> </br>
      <a href="http://apps.olin.wustl.edu/faculty/chib/chibshinsimoni2024.pdf" target="_blank"><b>[Local copy]</b></a></br>
   </li>

   <li> On the Wisdom of Crowds (of Economists) <br>
      <p, class="w"> 
      with 
      <a href="https://www.sas.upenn.edu/~fdiebold/" target="_blank"> Frank Diebold (Penn)</a>  
      and 
      <a href="https://moraaaron.com" target="_blank"> Aaron Mora (University of South Carolina) </a>
      </p, class="w"> </br>
      <a href="https://arxiv.org/pdf/2503.09287" target="_blank"><b>[Local copy]</b></a></br>
   </li>

   <li> A Gibbs Sampler for Efficient Bayesian Inference in Sign-Identified SVARs <br>
      <p, class="w"> 
      with 
      <a href="https://sites.google.com/site/jonasarias/home" target="_blank"> Jonas E. Arias (Philadelphia Fed)</a>  
      and 
      <a href="https://sites.google.com/site/juanfrubioramirez/" target="_blank"> Juan F. Rubio-Ramirez (Emory)</a>
      </p, class="w"> </br>
      <a href="https://arxiv.org/abs/2505.23542" target="_blank"><b>[Local copy]</b></a></br>
   </li>

   <li> At-Risk Transformation for U.S. Recession Prediction <br>
      <p, class="w"> 
      with 
      <a href="" target="_blank"> Rahul Billakanti (Wayzata High School)</a>
      </p, class="w"> </br>
      <a href="" target="_blank"><b>[Local copy]</b></a></br>
   </li>


   <li> Are Fiscal Transfers Inflationary? <br>
      <p, class="w"> 
      with 
      <a href="https://sites.google.com/site/jonasarias/home" target="_blank"> Jonas E. Arias (Philadelphia Fed)</a>  
      and 
      <a href="https://sites.google.com/site/juanfrubioramirez/" target="_blank"> Juan F. Rubio-Ramirez (Emory)</a>
      </p, class="w"> </br>
      <a href="" target="_blank"><b>[Coming Soon]</b></a></br>
   </li>

   <li> An Empirical Characterization of the Dynamic Effects of U.S. Trade Policy: The Case of Steel <br>
      <p, class="w"> 
      with 
      <a href="https://sites.google.com/site/jonasarias/home" target="_blank"> Jonas E. Arias (Philadelphia Fed)</a>
      </p, class="w"> </br>
      <a href="" target="_blank"><b>[Coming Soon]</b></a></br>
   </li>

   <li> Structural Estimation of Dynamic Equilibrium Modes with Unstructured Data <br>
      <p, class="w"> 
      with 
      <a href="" target="_blank"> Sara Casella (LUISS)</a>,
      <a href="https://www.sas.upenn.edu/~jesusfv/" target="_blank"> Jesús Fernández-Villaverde (Penn)</a>,
      <a href="" target="_blank"> Stephen Hansen (UCL)</a>,
      and
      <a href="" target="_blank"> Ryohei Oishi (UCL)</a>
      </p, class="w"> </br>
      <a href="" target="_blank"><b>[Coming Soon]</b></a></br>
   </li>

   <li> Crowning the Metropolis: Skylines, Land Values, and Urban Population <br>
      <p, class="w"> 
      with 
      <a href="https://economics.illinois.edu/profile/albouy" target="_blank"> David Albouy (University of Illinois)</a>
      and
      <a href="" target="_blank"> Mauricio Arango</a>
      </p, class="w"> </br>
      <a href="" target="_blank"><b>[Coming Soon]</b></a></br>
   </li>

  <li> Measuring Fairness in the US Mortgage Market  <br>
   <p, class="w"> 
   with 
   <a href="https://hselzayn.github.io" target="_blank"> Hadi Elzayn (Meta) </a> 
   and
   <a href="https://simonfreyaldenhoven.github.io" target="_blank"> Simon Freyaldenhoven (Philadelphia Fed) </a> 
   and
   <a href="" target="_blank"> Ryan C. Kobler (Philadelphia Fed) </a> 
   </p, class="w"> 
   </br>
   <a href="https://www.philadelphiafed.org/-/media/FRBP/Assets/working-papers/2025/wp25-04.pdf" target="_blank"><b>[Local Copy]</b></a>
   <a href="https://www.philadelphiafed.org/surveys-and-data/consumer-finance-data/mortgage-fairness-explorer" target="_blank"><b>[Web Dashboard]</b></a></br>
   </li>
   
   <li> Precision Without Labels: Detecting Cross-Applicants In Mortgage Data Using Unsupervised Learning <br>
      <p, class="w"> 
      with 
      <a href="https://hselzayn.github.io" target="_blank"> Hadi Elzayn (Meta) </a> 
      and
      <a href="https://simonfreyaldenhoven.github.io" target="_blank"> Simon Freyaldenhoven (Philadelphia Fed) </a> 
      </p, class="w"> 
      </br>
      <a href="/papers/draft_crossapp_202510.pdf" target="_blank"><b>[Local Copy]</b></a>
      <a href="https://www.philadelphiafed.org/surveys-and-data/consumer-finance-data/mortgage-fairness-explorer" target="_blank"><b>[Web Dashboard]</b></a></br>
   </li>


  <!-- <li> Tracking U.S. Retail Sales in Real-Time with Consumer Card Spending Data from Multiple Sources <br>
     <p, class="w"> 
     with 
     <a href="" target="_blank"> Ryan C. Kobler (Philadelphia Fed) </a> 
     </p, class="w"> 
     </br>
     <a href="" target="_blank"><b>[Coming Soon]</b></a></br>
  </li> -->

  <li> Capital-Based Corporate Tax Benefits: Endogenous Misallocation through Lobbying <br>
     <p, class="w"> 
     with 
     <a href="" target="_blank"> Tanida Arayavechkit (World Bank)</a>  
     and 
     <a href="https://sites.google.com/site/fesaffie/home" target="_blank"> Felipe E. Saffie (University of Maryland)</a>
     </p, class="w"> </br>
     <a href="/papers/lobby_2018.pdf" target="_blank"><b>[Local copy]</b></a></br>
  </li>
</ol>

<br>

<h2> Publications </h2>


<ol start="1">

  <!-- * -->
<li> Inference Based on Time-Varying SVARs Identified with Sign Restrictions </br>

  <p, class="w"> with 
  <a href="https://sites.google.com/site/jonasarias/home" target="_blank"> Jonas E. Arias (Philadelphia Fed) </a>
  and 
  <a href="https://sites.google.com/site/juanfrubioramirez/" target="_blank"> Juan F. Rubio-Ramirez (Emory) </a>
  and 
  <a href="" target="_blank"> Daniel F. Waggoner (Emory) </a> 
  </p, class="w"> </br>

  <p, class="j"> 
  <i>Review of Economic Studies</i>, Accepted
  </p, class="j">

  </br>
  <p, class="j"> 
  <a href="/papers/TV_SVAR.pdf" target="_blank"><b>[Local copy]</b></a>
  </p, class="j">
</li>  


  <li> On the Aggregation of Probability Assessments: Regularized Mixtures of Predictive Densities for Eurozone Inflation and Real Interest Rates
</br>

  <p, class="w"> with 
  <a href="https://www.sas.upenn.edu/~fdiebold/" target="_blank"> Frank Diebold (Penn) </a>
  and
  <a href="https://boyuan-zhang.github.io" target="_blank"> Boyuan Zhang (Penn) </a>
  </p, class="w"> </br>

  <p, class="j"> 
  <i>Journal of Econometrics</i>, 2023
  </p, class="j">

  </br>
  <p, class="j">
  <a href="/papers/Density_DSZ.pdf" target="_blank"><b>[Local copy]</b></a>
  </p, class="j">
  </li>

<li> Macroeconomic Forecasting and Variable Ordering in Multivariate Stochastic Volatility Models 
  </br>

  <p, class="w"> with 
  <a href="https://sites.google.com/site/jonasarias/home" target="_blank"> Jonas E. Arias (Philadelphia Fed) </a>
  and
  <a href="https://sites.google.com/site/juanfrubioramirez/" target="_blank"> Juan F. Rubio-Ramirez (Emory) </a>
  </p, class="w"> </br>
  
  <p, class="j"> 
  <i>Journal of Econometrics</i>, 2023
  </p, class="j">
  
  </br>
   <p, class="j"> 
  <a href="/papers/Paper_SV_Ordering 20220318.pdf" target="_blank"><b>[Local copy]</b></a>
  </p, class="j">
</li>

  <li> The Causal Effects of Lockdown Policies on Health and Macroeconomic Outcomes
    </br>
  
    <p, class="w"> with 
    <a href="https://sites.google.com/site/jonasarias/home" target="_blank"> Jonas E. Arias (Philadelphia Fed) </a>
    and
    <a href="https://www.sas.upenn.edu/~jesusfv/" target="_blank"> Jesus Fernandez-Villaverde (Penn) </a>
    and
    <a href="https://sites.google.com/site/juanfrubioramirez/" target="_blank"> Juan F. Rubio-Ramirez (Emory) </a>
    </p, class="w"> </br>
    
    <p, class="j"> 
    <i>American Economic Journal: Macroeconomics</i>, 2023
    </p, class="j">
    
    </br>
     <p, class="j">
    <a href="/papers/covid_afrs_20220220.pdf" target="_blank"><b>[Local copy]</b></a>
    </p, class="j">
  </li>
  
  
  <li> A Statistical Learning Approach to Land Valuation: Optimizing the Use of External Information
   </br>

   <p, class="w"> with 
   <a href="https://economics.illinois.edu/profile/albouy" target="_blank"> David Albouy (UIUC) </a>
   </p, class="w"> </br>

   <p, class="j"> 
   <i>Journal of Housing Economics</i>, 2022
   </p, class="j">

   </br>
   <p, class="j">
   <a href="/papers/Land_Valuation_Methods_2_2022.pdf" target="_blank"><b>[Local copy]</b></a>
   </p, class="j">
   </li>

  <li> Bayesian Estimation and Comparison of Conditional Moment Models </br>
     
     <p, class="w"> with 
     <a href="https://apps.olin.wustl.edu/faculty/chib/" target="_blank"> Siddhartha Chib (WUSTL)</a>  
     and 
     <a href="https://sites.google.com/view/simonianna" target="_blank"> Anna Simoni (CNRS)</a>
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Journal of the Royal Statistical Society: Series B</i>, 2022
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="http://apps.olin.wustl.edu/faculty/chib/papers/chibshinsimoni2021.pdf" target="_blank"> [Local copy]</a>
     <a href="" target="_blank"> [Appendix]</a>
     <a href="" target="_blank"> [Code]</a>
     </p, class="j">	 
  </li>
  
  
  <li> DSGE-SVt: An Econometric Toolkit for High-Dimensional DSGE Models with SV and t Errors </br>
  
    <p, class="w"> with 
     <a href="https://apps.olin.wustl.edu/faculty/chib/" target="_blank"> Siddhartha Chib (WUSTL) </a>
     and
     <a href="https://econdojo.github.io/" target="_blank"> Fei Tan (SLU) </a>
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Computational Economics</i>, 2021
     </p, class="j">
     
     </br>
     <p, class="j"> 
     <a href="https://github.com/econdojo/papers/blob/main/pdf/DSGE-SVt.pdf" target="_blank">[Local copy]</a>
     <a href="">[Code]</a>
     </p, class="j">	 
  
  </li>
  

  <li> A New Approach to Identifying the Real Effects of Uncertainty Shocks</br>
     
     <p, class="w"> 
     with <a href="https://molinzhong.wixsite.com/home" target="_blank"> Molin Zhong (FRB)</a> 
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Journal of Business and Economic Statistics</i>, 2020
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="/papers/ShinZhong_MSV_rev04_main.pdf" target="_blank"> [Local copy]</a>
     <a href="/papers/ShinZhong_MSV_rev04_appendix.pdf" target="_blank"> [Online appendix]</a>
     <a href="https://www.tandfonline.com/doi/suppl/10.1080/07350015.2018.1506342?scroll=top">[Code]</a>
     </p, class="j">	 
  </li>
  
  <!-- * -->
  <li> Probability Forecast Combination via Entropy Regularized Wasserstein Distance </br>
     
     <p, class="w"> with 
     <a href="https://sites.google.com/view/ryancumingsmenon" target="_blank"> Ryan Cumings-Menon (US Census)</a>  
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Entropy</i>, 2020
     </p, class="j">	
     
     </br>
     <p, class="j"> 
     <a href="/papers/CumingsShin2020.pdf" target="_blank"> [Local copy]</a>
     <!-- * 
     <a href="./papers/wbrChangeInGamma_WP.pdf" target="_blank"> [WP version]</a>
     -->
     </p, class="j">	
  </li>
  
  
  <!-- * -->
  <li> Machine Learning for Regularized Survey Forecast Combination: Partially-Egalitarian Lasso and Its Derivatives</br>
     
     <p, class="w"> 
     with <a href="https://www.sas.upenn.edu/~fdiebold/" target="_blank"> Francis X. Diebold (Penn)</a> 
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>International Journal of Forecasting</i>, 2019
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="https://www.sas.upenn.edu/~fdiebold/papers2/DieboldShinEgalitarianLasso.pdf" target="_blank"> [Local copy] </a>
     <a href="https://github.com/mcmcs/BestAvgComb" target="_blank"> [Code]</a>
     </p, class="j">	 
  </li>
  
  <!-- * -->
  <li> Bayesian Estimation and Comparison of Moment Condition Models </br>
     
     <p, class="w"> with 
     <a href="https://apps.olin.wustl.edu/faculty/chib/" target="_blank"> Siddhartha Chib (WUSTL)</a>  
     and 
     <a href="https://sites.google.com/view/simonianna" target="_blank"> Anna Simoni (CNRS)</a>
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Journal of the American Statistical Association</i>, 2018
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="/papers/CSS2017.pdf" target="_blank"> [Local copy]</a>
     <a href="/papers/CSS2017_appendix.pdf" target="_blank"> [Appendix]</a>
     <a href="http://apps.olin.wustl.edu/faculty/chib/rpackages/betel/" target="_blank"> [Code]</a>
     </p, class="j">	 
  </li>
  
  <!-- * -->
  <li> Metropolitan Land Values </br>
     
     <p, class="w"> with 
     <a href="https://economics.illinois.edu/profile/albouy" target="_blank">  David Albouy (UIUC)</a>  
     and 
     <a href="https://sites.google.com/site/gabrielehrlich/home" target="_blank"> Gabriel Ehrlich (Michigan)</a>
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Review of Economics and Statistics</i>, 2018
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="https://static1.squarespace.com/static/62f1eb5aa4471e693f087c96/t/63059716fa08022c8d214926/1661310748868/landvalue_index.pdf" target="_blank"> [Local copy]</a>
     </p, class="j">	 
  </li>
  
  <!-- * -->
  <li> On the Comparison of Interval Forecasts</br>
     
     <p, class="w"> with 
     <a href="https://www.linkedin.com/in/ross-askanazi-30307a5b" target="_blank">  Ross Askanasi (Cornerstone)</a>,
     <a href="https://www.sas.upenn.edu/~fdiebold/" target="_blank"> Francis X. Diebold (Penn)</a>, 
     and
     <a href="https://web.sas.upenn.edu/schorf/" target="_blank"> Frank Schorfheide (Penn)​</a>
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Journal of Time Series Analysis</i>, 2018
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="https://www.sas.upenn.edu/~fdiebold/papers2/Eval.pdf" target="_blank"> [Local copy]</a>
     </p, class="j">	 
  </li>
  
  <!-- * -->
  <li> Measuring International Uncertainty: the Case of Korea</br>
     
     <p, class="w"> with 
     <a href="https://boyuan-zhang.github.io" target="_blank">  Boyuan Zhang (Penn)</a>,
     <a href="https://molinzhong.wixsite.com/home" target="_blank"> Molin Zhong (FRB)</a>, and 
     <a href="" target="_blank"> Dong Jin Lee (Bank of Korea)​</a> 
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Economics Letters</i>, 2018
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="https://www.dropbox.com/s/gee945rtnf0ypob/ECOLET_7810.pdf?dl=0&m=" target="_blank"> [Local copy]</a>
     </p, class="j">	 
  </li>
  
  <!-- * -->
  <li> Real-Time Forecast Evaluation of DSGE Models with Stochastic Volatility</br>
     
     <p, class="w"> with 
     <a href="https://www.sas.upenn.edu/~fdiebold/" target="_blank"> Francis X. Diebold (Penn)</a> and
     <a href="https://web.sas.upenn.edu/schorf/" target="_blank"> Frank Schorfheide (Penn)​</a>
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Journal of Econometrics</i>, 2017
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="https://www.sas.upenn.edu/~fdiebold/papers2/DSS_v3.pdf" target="_blank"> [Local copy]</a>
     <a href="https://www.sas.upenn.edu/~fdiebold/papers2/prg_dsgepred_v01.zip" target="_blank"> [Code]</a>
     </p, class="j">	 
  </li>
  
  <!-- * -->
  <li> Does Realized Volatility Help Bond Yield Density Prediction?</br>
     
     <p, class="w"> with 
     <a href="https://molinzhong.wixsite.com/home" target="_blank"> Molin Zhong (FRB)</a>
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>International Journal of Forecasting</i>, 2017
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="/papers/SZ_2017.pdf" target="_blank"> [Local copy]</a>
     </p, class="j">	 
  </li>
  
  <!-- * -->
  <li> Assessing Point Forecast Accuracy by Stochastic Error Distance</br>
     
     <p, class="w"> with 
     <a href="https://www.sas.upenn.edu/~fdiebold/" target="_blank"> Francis X. Diebold (Penn)</a>
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Econometric Reviews</i>, 2017
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="/papers/DieboldShin_SED.pdf" target="_blank"> [Local copy]</a>
     </p, class="j">	 
  </li>
  
  <!-- * -->
  <li> Assessing Point Forecast Accuracy by Stochastic Loss Distance</br>
     
     <p, class="w"> with 
     <a href="https://www.sas.upenn.edu/~fdiebold/" target="_blank"> Francis X. Diebold (Penn)</a>
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Economics Letters</i>, 2015
     </p, class="j">	 
     
     </br>
     <p, class="j"> 
     <a href="/papers/DieboldShin_SLD.pdf" target="_blank"> [Local copy]</a>
     </p, class="j">	 
  </li>
  
  </ol>
  
<br>

  <!-- ============================================
  -->
  <h2> Other Publications </h2>
  

  <ol start = "19">
  
  <!-- * -->
  <li> Breaking Down the Latest Fight Against Inflation </br>
   <p, class="w"> with 
   <a href="https://sites.google.com/site/jonasarias/home" target="_blank"> Jonas E. Arias (Philadelphia Fed)</a>
   </p, class="w"> </br>
     <p, class="j"> 
     <i>Economic Insights</i>, 2025
     </p, class="j"> 
     </br>
     <p, class="j"> 
     <a href="https://www.philadelphiafed.org/-/media/FRBP/Assets/Economy/Articles/economic-insights/2025/q2/eiq225-breaking-down-the-latest-fight-against-inflation.pdf" target="_blank"> [Local copy]</a>
     </p, class="j"> 
  </li>

  <!-- * -->
  <li> Failure of Silicon Valley Bank Reduced Local Consumer Spending but Had Limited Eﬀect on Aggregate Spending </br>
     
   <p, class="w"> with 
   <a href="" target="_blank"> Edmund S. Crawley (FRB)</a>  
   and <a href="" target="_blank"> Taeyoung Doh (KC Fed)</a> 
   </p, class="w"> </br>
   
   <p, class="j"> 
   <i>Economic Bulletin</i>, 2023
   </p, class="j">	
   
   </br>
   <p, class="j"> 
   <a href="https://www.kansascityfed.org/Economic%20Bulletin/documents/9776/EconomicBulletin23CrawleyDohShin0906.pdf" target="_blank"> [Local Copy]</a>

   </p, class="j">	
</li>

  <li> Measuring Disagreement in Probabilistic and Density Forecasts </br>
     
     <p, class="w"> with 
     <a href="https://sites.google.com/view/ryancumingsmenon" target="_blank"> Ryan Cumings-Menon (US Census)</a>  
     and <a href="https://www.phil.frb.org/research-and-data/economists/sill" target="_blank"> Keith Sill (Philadelphia Fed)</a> 
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Joint Statistical Meeting Proceedings, Business and Economic Statistics Section</i>, 2020
     </p, class="j">	
     
     </br>
     <p, class="j"> 
     <a href="/papers/CumingsShinSill2020.pdf" target="_blank"> [Local copy]</a>
     <!-- * 
     <a href="./papers/wbrChangeInGamma_WP.pdf" target="_blank"> [WP version]</a>
     -->
     </p, class="j">	
  </li>
  
  <!-- * -->
  <li> Tracking U.S. Real GDP Growth During the Pandemic </br>
     
     <p, class="w"> with 
     <a href="https://sites.google.com/site/jonasarias/" target="_blank"> Jonas E. Arias (Philadelphia Fed)</a>  
     </p, class="w"> </br>
     
     <p, class="j"> 
     <i>Economic Insights</i>, 2020
     </p, class="j">	
  
     </br>
     <p, class="j"> 
     <a href="/papers/eiq320-gdp-forecasts.pdf" target="_blank"> [Local copy]</a>
     <!-- * 
     <a href="./papers/wbrChangeInGamma_WP.pdf" target="_blank"> [WP version]</a>
     -->
     </p, class="j">	
  </li>
  
  <li> Bayesian GMM </br>
     
     <p class="j"> 
     <i>Ph.D. Dissertation</i>, 2015
     </p, class="j">	
     
     </br>
     <p, class="j"> 
       <a href="https://repository.upenn.edu/edissertations/2009/" target="_blank"> [Original, 2015]</a>, 
     <a href="/papers/BGMM_ver05.pdf" target="_blank"> [Revised and current version, 2016]</a></br>
     </p, class="j">	
  </li>
  
  </ol>


