---
layout: single
classes: wide
---

{{ content }}


<!-- *WPs* -->
<h2> Teaching </h2>

<!-- ************* -->
<ol>

<!-- ************* -->
<li> Analyzing Bank Cybersecurity Disclosures Using Machine Learning (by Simpson Zhang) <br>
	<p, class="w"> 
    at Interagency Risk Quantification Forum, November 2022
  </p, class="w"> 
  <br>
	 <a href="./papers/slides_discussion_zhang2022.pdf" target="_blank"> <b>[Discussion Slides]</b></a>
</li>


<!-- ************* -->
<li> Nowcasting with Large Bayesian VARs (by Cimadomo, Giannone, Lenza, Monti, Sokol) <br>
	<p, class="w"> 
    at Conferecne on Real-Time Data Analysis, Methods and Applications, October 2020
  </p, class="w"> 
  <br>
	 <a href="./papers/slides_discussion_cglms2020.pdf" target="_blank"> <b>[Discussion Slides]</b></a>
</li>


<!-- ************* -->
<li> Tests of Conditional Predictive Ability: Some Simulation Evidence (by Michael W. McCracken) <br>
	<p, class="w"> 
    at System Committee on Econometrics Meeting, September 2019
  </p, class="w"> 
  <br>
	 <a href="./papers/slides_discussion_mm2019.pdf" target="_blank"> <b>[Discussion Slides]</b></a>
</li>

</ol>
